<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="image.css">
    <title>Image</title>
</head>
<body>
    <section class="section">
        <h2 class="heading-2">Image</h2>
        <div class="wrapper">
            <!-- responsive image -->
            <div class="resp-img p-1">
                <h4 class="heading-4">Responsive Image</h4>
                <img src="../../assets/responsive-image.jpg" alt="responsive image">
            </div>
            <!-- round image -->
            <div class="rnd-img p-1">
                <h4 class="heading-4">Round Image</h4>
                <img src="../../assets/round-img.jpg" alt="round image">
            </div>
        </div>
        <hr>
</body>
</html>