<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="card.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../prism/prism.css">
    <script src="../../prism/prism.js" defer></script>
    <title>Card</title>
</head>

<body>
    <header class="header">
        <nav class="nav-container display-flex">
            <a href="../../index.html" class="nav-link">
                <span class="heading-3 clr-blue-500 fw-lght">We-Fast <small>UI</small></span>
            </a>
            <a href="https://github.com/saifudinbadani" target="_blank" class="nav-link">
                <i class="fab fa-github heading-1 clr-blue-500"></i>
            </a>
        </nav>
    </header>
    <nav>
        <ul class="sidebar-container">
            <div class="heading-3">Guide</div>
            <li class="sidebar-item"><a href="../../documentation/documentation.html" class="sidebar-link">How to
                    use?</a></li>
            <div class="sidebar-heading heading-3">Components</div>
            <li class="sidebar-item"><a href="../../components/alerts/alert.html" class="sidebar-link">Alert</a></li>
            <li class="sidebar-item"><a href="../../components/avatar/avatar.html" class="sidebar-link">Avatar</a></li>
            <li class="sidebar-item"><a href="../../components/badge/badge.html" class="sidebar-link">Badge</a></li>
            <li class="sidebar-item"><a href="../../components/button/button.html" class="sidebar-link">Button</a></li>
            <li class="sidebar-item"><a href="../../components/card/card.html" class="sidebar-link">Card</a></li>
            <li class="sidebar-item"><a href="../../components/grid/grid.html" class="sidebar-link">Grid</a></li>
            <li class="sidebar-item"><a href="../../components/image/image.html" class="sidebar-link">Image</a></li>
            <li class="sidebar-item"><a href="../../components/input/input.html" class="sidebar-link">Input</a></li>
            <li class="sidebar-item"><a href="../../components/lists/lists.html" class="sidebar-link">Lists</a></li>
            <li class="sidebar-item"><a href="../../components/modal/modal.html" class="sidebar-link">Modal</a></li>
            <li class="sidebar-item"><a href="../../components/navigation/navigation.html"
                    class="sidebar-link">Navigation</a></li>
            <li class="sidebar-item"><a href="../../components/rating/rating.html" class="sidebar-link">Rating</a></li>
            <li class="sidebar-item"><a href="../../components/snackbar/snackbar.html" class="sidebar-link">Snackbar</a></li>
            <li class="sidebar-item"><a href="../../components/text-utilities/text-utilities.html"
                    class="sidebar-link">Text-utilities</a></li>
        </ul>
    </nav>

    <main class="main-container">
        <section class="section">
            <h2 class="heading-2 fw-regular m-tp-one">Card</h2>
            <hr>
            <h4 class="heading-4 fw-regular">Horizontal card</h4>
            <p class="heading-4 m-tp-one fw-lght">To create horizontal card copy paste the code provided and modify content according to your need.</p>
            <div class="wrapper p-1 m-tp-one">
                <div class="card-h display-flex">
                    <div class="card-img-h">
                        <img src="../../assets/card-1.jpg" alt="Denim Jacket">
                    </div>
                    <div class="card-content-h display-flex-c">
                        <h3 class="card-title heading-3">Denim Jacket</h3>
                        <small class="card-author">by Studium</small>
                        <p class="card-text heading-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet,
                            unde!
                        </p>
                        <div class="card-footer-h">
                            <button class="card-btn btn btn-solid-primary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <pre>
                <code class="language-markup">
                    <div class="card-h display-flex">
                        <div class="card-img-h">
                            <img src="..." alt="Denim Jacket">
                        </div>
                        <div class="card-content-h display-flex-c">
                            <h3 class="card-title heading-3">Denim Jacket</h3>
                            <small class="card-author">by Studium</small>
                            <p class="card-text heading-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet,
                                unde!
                            </p>
                            <div class="card-footer-h">
                                <button class="card-btn btn btn-solid-primary">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </code>
            </pre>
            <hr>
            <!-- vertical card -->
            <h4 class="heading-4 fw-regular">Vertical card</h4>
            <p class="heading-4 m-tp-one fw-lght">To create vertical card copy paste the code provided and modify content according to your need.</p>
            <div class="wrapper p-1 m-tp-one">
                <div class="card display-flex-c">
                    <div class="card-img">
                        <img src="../../assets/card-2.jpg" alt="Desk Setup">
                    </div>
                    <div class="card-content display-flex-c">
                        <h3 class="card-title heading-3">Desk Setup</h3>
                        <small class="card-author">by Studium</small>
                        <p class="card-text heading-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet,
                            unde!
                        </p>
                        <div class="card-footer">
                            <button class="card-btn btn btn-solid-primary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <pre>
                <code class="language-markup">
                    <div class="card display-flex-c">
                        <div class="card-img">
                            <img src="..." alt="Desk Setup">
                        </div>
                        <div class="card-content display-flex-c">
                            <h3 class="card-title heading-3">Desk Setup</h3>
                            <small class="card-author">by Studium</small>
                            <p class="card-text heading-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet,
                                unde!
                            </p>
                            <div class="card-footer">
                                <button class="card-btn btn btn-solid-primary">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </code>
            </pre>
            <hr>

            <!-- card with dismiss -->
            <h4 class="heading-4 fw-regular">Vertical card with dismiss</h4>
            <p class="heading-4 m-tp-one fw-lght">To create card with dismiss icon copy paste the code provided and modify content according to your need.</p>
            <p class="heading-4 m-tp-one fw-lght">The icons used here are provided by Font-awesome.</p>
            <div class="wrapper p-1 m-tp-one">
                <div class="card display-flex-c">
                    <div class="card-img pos-rltv">
                        <i class="card-dismiss fas fa-times"></i>
                        <img src="../../assets/card-2.jpg" alt="Desk Setup">
                    </div>
                    <div class="card-content display-flex-c">
                        <h3 class="card-title heading-3">Desk Setup</h3>
                        <small class="card-author">by Studium</small>
                        <p class="card-text heading-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet,
                            unde!
                        </p>
                        <div class="card-footer">
                            <button class="card-btn btn btn-solid-primary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <pre>
                <code class="language-markup">
                    <div class="card-img pos-rltv">
                        <i class="card-dismiss fas fa-times"></i>
                        <img src="..." alt="Desk Setup">
                    </div>
                    <div class="card-content display-flex-c">
                        <h3 class="card-title heading-3">Desk Setup</h3>
                        <small class="card-author">by Studium</small>
                        <p class="card-text heading-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet,
                            unde!
                        </p>
                        <div class="card-footer">
                            <button class="card-btn btn btn-solid-primary">Add to Cart</button>
                        </div>
                    </div>
                </code>
            </pre>
            <hr>
            <!-- cards with shadow -->
            <h4 class="heading-4 fw-regular">Cards with shadow</h4>
            <p class="heading-4 m-tp-one fw-lght">To give shadow effect to card add "shadow" to element's class</p>
            <div class="wrapper p-1 m-tp-one">
                <div class="display-flex">
                    <div class="card shadow display-flex-c">
                        <div class="card-img">
                            <img src="../../assets/card-2.jpg" alt="Desk Setup">
                        </div>
                        <div class="card-content display-flex-c">
                            <h3 class="card-title heading-3">Desk Setup</h3>
                            <small class="card-author">by Studium</small>
                            <p class="card-text heading-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Amet, unde!
                            </p>
                            <div class="card-footer">
                                <button class="card-btn btn btn-solid-primary">Add to Cart</button>
                            </div>
                        </div>
                    </div>

                    <div class="card-h shadow display-flex">
                        <div class="card-img-h">
                            <img src="../../assets/card-1.jpg" alt="Denim Jacket">
                        </div>
                        <div class="card-content-h display-flex-c">
                            <h3 class="card-title heading-3">Denim Jacket</h3>
                            <small class="card-author">by Studium</small>
                            <p class="card-text heading-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Amet, unde!
                            </p>
                            <div class="card-footer-h">
                                <button class="card-btn btn btn-solid-primary">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <pre>
                <code class="language-markup">
                    <div class="card-h shadow display-flex"></div>
                </code>
            </pre>
            <hr>

            <!-- card with text-overlay -->
            <h4 class="heading-4 fw-regular">Card with text overlay</h4>
            <p class="heading-4 m-tp-one fw-lght">To create card with text-overlay copy paste the code provided and modify content according to your need.</p>
            <div class="wrapper p-1 m-tp-one">
                <div class="card display-flex-c pos-rltv">
                    <div class="card-img">
                        <img src="../../assets/card-2.jpg" alt="Desk Setup">
                    </div>
                    <div class="card-content display-flex-c">
                        <h3 class="card-title heading-3">Desk Setup</h3>
                        <small class="card-author">by Studium</small>
                        <p class="card-text heading-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet,
                            unde!
                        </p>
                        <div class="card-footer">
                            <button class="card-btn btn btn-solid-primary">Add to Cart</button>
                        </div>
                        <div class="text-overlay">
                            <h3 class="text-overlay-content heading-3">Out of Stock</h3>
                        </div>
                    </div>
                </div>
            </div>


            <pre>
                <code class="language-markup">
                    <div class="card display-flex-c pos-rltv">
                        <div class="card-img">
                            <img src="../../assets/card-2.jpg" alt="Desk Setup">
                        </div>
                        <div class="card-content display-flex-c">
                            <h3 class="card-title heading-3">Desk Setup</h3>
                            <small class="card-author">by Studium</small>
                            <p class="card-text heading-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet,
                                unde!
                            </p>
                            <div class="card-footer">
                                <button class="card-btn btn btn-solid-primary">Add to Cart</button>
                            </div>
                            <div class="text-overlay">
                                <h3 class="text-overlay-content heading-3">Out of Stock</h3>
                            </div>
                        </div>
                    </div>
                </code>
            </pre>
            <hr>

            <!-- text only card -->
            <h4 class="heading-4 fw-regular">Text only card</h4>
            <p class="heading-4 m-tp-one fw-lght">To create text only card copy paste the code provided and modify content according to your need.</p>
            <div class="wrapper p-1 m-tp-one">
                <div class="card">
                    <div class="card-content p-1">
                        <h3 class="card-title heading-3">Desk Setup</h3>
                        <small class="card-author">by Studium</small>
                        <p class="card-text heading-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet,
                            unde!
                        </p>
                    </div>
                </div>
            </div>

            <pre>
                <code class="language-markup">
                    <div class="card">
                        <div class="card-content p-1">
                            <h3 class="card-title heading-3">Desk Setup</h3>
                            <small class="card-author">by Studium</small>
                            <p class="card-text heading-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet,
                                unde!
                            </p>
                        </div>
                    </div>
                </code>
            </pre>
            <hr>
            <!-- card with badge -->
            <h4 class="heading-4 fw-regular">Card with badge</h4>
            <p class="heading-4 m-tp-one fw-lght">To create card with badge copy paste the code provided and modify content according to your need.</p>
            <div class="wrapper p-1 m-tp-one">
                <div class="card display-flex-c">
                    <div class="card-img pos-rltv">
                        <div class="badge-container pos-absolute">
                            <span class="badge-primary">New</span>
                        </div>
                        <img src="../../assets/card-2.jpg" alt="Desk Setup">
                    </div>
                    <div class="card-content display-flex-c">
                        <h3 class="card-title heading-3">Desk Setup</h3>
                        <small class="card-author">by Studium</small>
                        <p class="card-text heading-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet,
                            unde!
                        </p>
                        <div class="card-footer">
                            <button class="card-btn btn btn-solid-primary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

     <pre>
         <code class="language-markup">
            <div class="card-img pos-rltv">
                <div class="badge-container pos-absolute">
                    <span class="badge-primary">New</span>
                </div>
                <img src="../../assets/card-2.jpg" alt="Desk Setup">
            </div>
        </code>
    </pre>
            <hr>
        </section>
    </main>
    <footer class="footer-container display-flex">
        <i class="fa-solid fa-angle-left footer-icon"></i>
        <a href="../button/button.html" class="footer-link m-rght-auto">
            Button</a>
        <a href="../image/image.html" class="footer-link">
            Image
        </a>
        <i class="fa-solid fa-angle-right footer-icon"></i>
    </footer>
</body>

</html>