<!-- with shadow -->
<div class="card-h shadow display-flex">
    <div class="card-img-h">
        <img src="../../assets/card-1.jpg" alt="Denim Jacket">
    </div>
    <div class="card-content-h display-flex-c">
        <h3 class="card-title heading-3">Denim Jacket</h3>
        <small class="card-author">by Studium</small>
        <p class="card-text heading-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Amet, unde!
        </p>
        <div class="card-footer-h">
            <button class="card-btn btn btn-solid-primary">Add to Cart</button>
        </div>
    </div>
</div>

<!-- normal horizontal card -->

<div class="card-h display-flex">
    <div class="card-img-h">
        <img src="../../assets/card-1.jpg" alt="Denim Jacket">
    </div>
    <div class="card-content-h display-flex-c">
        <h3 class="card-title heading-3">Denim Jacket</h3>
        <small class="card-author">by Studium</small>
        <p class="card-text heading-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet,
            unde!
        </p>
        <div class="card-footer-h">
            <button class="card-btn btn btn-solid-primary">Add to Cart</button>
        </div>
    </div>
</div>