<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Button</title>
</head>
<body>
    <section class="section">
        <h2 class="heading-2">Buttons</h2>
        <h4 class="heading-4">Normal Buttons</h4>
        <div class="wrapper">
            <button class="btn btn-solid-primary">Primary</button>
            <button class="btn btn-solid-secondary">Secondary</button>
        </div>
        <hr>
        <h4 class="heading-4">Outline buttons</h4>
        <div class="wrapper">
            <button class="btn btn-outline-primary">Primary</button>
            <button class="btn btn-outline-secondary">Secondary</button>
        </div>
        <hr>
        <h4 class="heading-4">Icon with text buttons</h4>
        <div class="wrapper">
            <button class="btn">
                <i class="fas fa-shopping-cart"></i>
                Add to cart</button>
            <button class="btn">
                
                Remove</button>
        </div>
        
        <hr>
        <h4 class="heading-4">Icon buttons</h4>
        <div class="wrapper">
            <button class="btn">Add to cart</button>
            <button class="btn">Remove</button>
        </div>
    </section>
</body>
</html>