@import "../../css/common.css";

.btn{
    padding: 0.2rem 0.8rem;
    margin: 0.8rem;
    border-radius: 3px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.btn:hover{
    transition: 0.3s;
}
/* primary buttons */
.btn-solid-primary{
    background-color: var(--blue-500);
    color: white;
}

.btn-solid-primary:hover{
    background-color: var(--blue-300);
}
.btn-solid-secondary{
    background-color: var(--black-500);
    color: white;
}

.btn-solid-secondary:hover{
    background-color: var(--black-300);
}

.btn-solid-cancel{
    background-color: var(--red-500);
    color: white;
}

.btn-solid-cancel:hover{
    background-color: var(--red-300);
}


/* outline buttons */

.btn-outline-primary{
    border: 1px solid var(--blue-500);
    color: var(--black-500);
}

.btn-outline-primary:hover{
    background-color: var(--blue-500);
    color: white;
}

.btn-outline-secondary{
    border: 1px solid var(--black-500);
    color: var(--black-500);
}

.btn-outline-secondary:hover{
    color: white;
    background-color: var(--black-500);
}

/* icons */
.btn-t-icon{
    
    border: 1px solid var(--black-500);
    color: var(--black-500); 
}

.btn-t-icon:hover{
    color: white;
    background-color: var(--black-500);
}

.btn-icon{
   font-size: 2rem;
   padding-bottom: 0.2rem;
}