<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="button.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../prism/prism.css">
    <script src="../../prism/prism.js" defer></script>
    <title>Button</title>
</head>

<body>
    <header class="header">
        <nav class="nav-container display-flex">
            <a href="../../index.html" class="nav-link">Logo</a>
            <a href="https://github.com/saifudinbadani" target="_blank" class="nav-link">Github link</a>
        </nav>
    </header>
    <nav>
        <ul class="sidebar-container">
            <div class="heading-3">Guide</div>
            <li class="sidebar-item"><a href="../documentation/documentation.html" class="sidebar-link">How to use?</a></li>
            <div class="sidebar-heading heading-3">Components</div>
            <li class="sidebar-item"><a href="../../components/alerts/alert.html" class="sidebar-link">Alert</a></li>
            <li class="sidebar-item"><a href="../../components/avatar/avatar.html" class="sidebar-link">Avatar</a></li>
            <li class="sidebar-item"><a href="../../components/badge/badge.html" class="sidebar-link">Badge</a></li>
            <li class="sidebar-item"><a href="../../components/button/button.html" class="sidebar-link">Button</a></li>
            <li class="sidebar-item"><a href="../../components/card/card.html" class="sidebar-link">Card</a></li>
            <li class="sidebar-item"><a href="../../components/image/image.html" class="sidebar-link">Image</a></li>
            <li class="sidebar-item"><a href="../../components/input/input.html" class="sidebar-link">Input</a></li>
            <li class="sidebar-item"><a href="../../components/lists/lists.html" class="sidebar-link">Lists</a></li>
            <li class="sidebar-item"><a href="../../components/text-utilities/text-utilities.html"
                    class="sidebar-link">Text-utilities</a></li>
        </ul>
    </nav>

    <main class="main-container">
        <section class="section">
            <h2 class="heading-2 fw-regular m-tp-one">Buttons</h2>
            <hr>
            <h4 class="heading-4 fw-regular">Solid Buttons</h4>
            <p class="heading-4 m-tp-one fw-lght">To create solid buttons copy paste the code provided and change text to whatever you need.</p>
            <div class="wrapper p-1 m-tp-one">
                <button class="btn btn-solid-primary">Primary</button>
                <button class="btn btn-solid-secondary">Secondary</button>
                <button class="btn btn-solid-cancel">Cancel</button>
            </div>

            <pre>
                <code class="language-markup">
                    <button class="btn btn-solid-primary">Primary</button>
                    <button class="btn btn-solid-secondary">Secondary</button>
                    <button class="btn btn-solid-cancel">Cancel</button>
                </code>
            </pre>
            <hr>

            <h4 class="heading-4 fw-regular">Outline buttons</h4>
            <p class="heading-4 m-tp-one fw-lght">To create outline buttons copy paste the code provided and change text to whatever you need.</p>
            <div class="wrapper p-1 m-tp-one">
                <button class="btn btn-outline-primary">Primary</button>
                <button class="btn btn-outline-secondary">Secondary</button>
                <button class="btn btn-outline-cancel">Cancel</button>
            </div>

            <pre>
                <code class="language-markup">
                    <button class="btn btn-outline-primary">Primary</button>
                    <button class="btn btn-outline-secondary">Secondary</button>
                    <button class="btn btn-outline-cancel">Cancel</button>
                </code>
            </pre>
            <hr>

            <h4 class="heading-4 fw-regular">Icon with text buttons</h4>
            <p class="heading-4 m-tp-one fw-lght">To create icon with text buttons copy paste the code provided and change text to whatever you need.</p>
            <p class="heading-4 m-tp-one fw-lght">The icons used here are provided by Font-awesome.</p>
            <div class="wrapper p-1 m-tp-one">
                <button class="btn btn-t-icon">
                    <i class="fas fa-shopping-cart btn-icon"></i>
                    Add to cart</button>
                <button class="btn btn-t-icon">
                    <i class="fas fa-trash btn-icon"></i>
                    Remove</button>
            </div>

            <pre>
                <code class="language-markup">
                    <button class="btn btn-t-icon">
                        <i class="fas fa-shopping-cart btn-icon"></i>
                        Add to cart</button>
                    <button class="btn btn-t-icon">
                        <i class="fas fa-trash btn-icon"></i>
                        Remove</button>
                </code>
            </pre>
            <hr>

            <h4 class="heading-4 fw-regular">Icon buttons</h4>
            <p class="heading-4 m-tp-one fw-lght">To create icon buttons copy paste the code provided and change text to whatever you need.</p>
            <div class="wrapper p-1 m-tp-one">
                <button class="btn btn-t-icon">
                    <i class="fas fa-shopping-cart btn-icon"></i>
                </button>
                <button class="btn btn-t-icon">
                    <i class="fas fa-trash btn-icon"></i>
                </button>
            </div>

            <pre>
                <code class="language-markup">
                    <button class="btn btn-t-icon">
                        <i class="fas fa-shopping-cart btn-icon"></i>
                    </button>
                    <button class="btn btn-t-icon">
                        <i class="fas fa-trash btn-icon"></i>
                    </button>
                </code>
            </pre>
            <hr>

            <h4 class="heading-4 fw-regular">Floating buttons</h4>
            <p class="heading-4 m-tp-one fw-lght">To create floating buttons copy paste the code provided and change text to whatever you need.</p>
            <div class="wrapper p-1 m-tp-one display-flex">
                <button class="btn flt-btn shadow display-flex">
                    <i class="fas fa-arrow-up flt-icon"></i>
                </button>
                <button class="btn flt-btn shadow display-flex">
                    <i class="fas fa-pen flt-icon"></i>
                </button>
            </div>

            <pre>
                <code class="language-markup">
                    <button class="btn flt-btn shadow display-flex">
                        <i class="fas fa-arrow-up flt-icon"></i>
                    </button>
                    <button class="btn flt-btn shadow display-flex">
                        <i class="fas fa-pen flt-icon"></i>
                    </button>
                </code>
            </pre>
            <hr>
            <!-- button sizes -->
            <h4 class="heading-4 fw-regular">Button Size</h4>
            <p class="heading-4 m-tp-one fw-lght">To make the button large add "btn-l" to button element.</p>
            <div class="wrapper p-1 m-tp-one">
                <button class="btn btn-outline-primary p-1">Primary</button>
                <button class="btn btn-solid-secondary btn-l">Secondary</button>
            </div>
            <pre>
                <code class="language-markup">
                    <button class="btn btn-outline-primary p-1">Primary</button>
                    <button class="btn btn-solid-secondary btn-l">Secondary</button>
                </code>
            </pre>
            <hr>
        </section>
    </main>

    <footer class="footer-container display-flex">
        <i class="fa-solid fa-angle-left footer-icon"></i>
        <a href="../badge/badge.html" class="footer-link m-rght-auto">
            Badge</a>
        <a href="../avatar/avatar.html" class="footer-link">
            Avatar
        </a>
        <i class="fa-solid fa-angle-right footer-icon"></i>
    </footer>

</body>

</html>