@import "../../css/common.css";

.btn{
    padding: 0.2rem 0.8rem;
    margin: 0.8rem;
    border-radius: 3px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.btn:hover{
    transition: 0.3s;
}
/* primary buttons */
.btn-solid-primary{
    background-color: var(--blue-500);
    color: white;
}

.btn-solid-primary:hover{
    opacity: 0.8;
}
.btn-solid-secondary{
    background-color: var(--black-500);
    color: white;
}

.btn-solid-secondary:hover{
    opacity: 0.8;
}

.btn-solid-cancel{
    background-color: var(--red-500);
    color: white;
}

.btn-solid-cancel:hover{
    opacity: 0.8;
}


/* outline buttons */

.btn-outline-primary{
    border: 1px solid var(--blue-500);
    color: var(--blue-500);
}

.btn-outline-primary:hover{
    background-color: var(--blue-500);
    color: white;
}

.btn-outline-secondary{
    border: 1px solid var(--black-500);
    color: var(--black-500);
}

.btn-outline-secondary:hover{
    color: white;
    background-color: var(--black-500);
}

.btn-outline-cancel{
    border: 1px solid var(--red-500);
    color: var(--red-500);
}

.btn-outline-cancel:hover{
    color: white;
    background-color: var(--red-500);
}


/* icons */
.btn-t-icon{
    
    border: 1px solid var(--black-500);
    color: var(--black-500); 
}

.btn-t-icon:hover{
    color: white;
    background-color: var(--black-500);
}

.btn-icon{
   font-size: 2rem;
   padding-bottom: 0.2rem;
}

/* floating buttons */
.flt-btn{
    height: 4rem;
    width: 4rem;
    background-color: var(--blue-500);
    color: white;
    border-radius: 50%;
    font-size: 3.5rem;
    justify-content: center;
    align-items: center;
    padding: 0;  
}

.flt-btn:hover{
    opacity: 0.8;
}

/* button size */

.btn-l{
    padding: 1rem;
    font-size: 2rem;
}