<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="avatar.css">
    <title>Avatar</title>
</head>

<body>
    <section class="section">
        <h2 class="heading-2">Avatars</h2>
        <h4 class="heading-4">Round Avatars</h4>
        <div class="wrapper display-flex">
            <div class="avatar-round">
                <img src="../../assets/avatar-1.png" alt="round avatar">
            </div>
            <div class="avatar-round">
                <img src="../../assets/avatar-2.png" alt="round avatar" >
            </div>
            <div class="avatar-round">
                <img src="../../assets/avatar-3.png" alt="round avatar">
            </div>
            <div class="avatar-round">
                <img src="../../assets/avatar-4.png" alt="round avatar">
            </div>
        </div>
        <hr>

        <h4 class="heading-4">Square avatars</h4>
        <div class="wrapper display-flex">
            <div class="avatar-square">
                <img src="../../assets/avatar-1.png" alt="square avatar">
            </div>
            <div class="avatar-square">
                <img src="../../assets/avatar-2.png" alt="square avatar" >
            </div>
            <div class="avatar-square">
                <img src="../../assets/avatar-3.png" alt="square avatar">
            </div>
            <div class="avatar-square">
                <img src="../../assets/avatar-4.png" alt="square avatar">
            </div>
        </div>
        <hr>

        <h4 class="heading-4">Avatars with different sizes</h4>
        <div class="wrapper display-flex">
            <div class="avatar-round">
                <img src="../../assets/avatar-1.png" alt="round avatar">
            </div>
            <div class="avatar-round avatar-md">
                <img src="../../assets/avatar-2.png" alt="round avatar" >
            </div>
            <div class="avatar-round avatar-sm">
                <img src="../../assets/avatar-3.png" alt="round avatar">
            </div>
            <div class="avatar-round avatar-xs">
                <img src="../../assets/avatar-4.png" alt="round avatar">
            </div>
        </div>
        <hr>
    </section>
</body>

</html>