<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="avatar.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../prism/prism.css">
    <script src="../../prism/prism.js" defer></script>
    <title>Avatar</title>
</head>

<body>
    <header class="header">
        <nav class="nav-container display-flex">
            <a href="#" class="nav-link">Logo</a>
            <a href="#" class="nav-link">Github link</a>
        </nav>
    </header>
    <nav>
        <ul class="sidebar-container">
            <div class="heading-3">Guide</div>
            <div class="sidebar-heading heading-3">Components</div>
            <li class="sidebar-item"><a href="../../components/alerts/alert.html" class="sidebar-link">Alert</a></li>
            <li class="sidebar-item"><a href="../../components/avatar/avatar.html" class="sidebar-link">Avatar</a></li>
            <li class="sidebar-item"><a href="../../components/badge/badge.html" class="sidebar-link">Badge</a></li>
            <li class="sidebar-item"><a href="../../components/button/button.html" class="sidebar-link">Button</a></li>
            <li class="sidebar-item"><a href="../../components/card/card.html" class="sidebar-link">Card</a></li>
            <li class="sidebar-item"><a href="../../components/image/image.html" class="sidebar-link">Image</a></li>
            <li class="sidebar-item"><a href="../../components/input/input.html" class="sidebar-link">Input</a></li>
            <li class="sidebar-item"><a href="../../components/lists/lists.html" class="sidebar-link">Lists</a></li>
            <li class="sidebar-item"><a href="../../components/text-utilities/text-utilities.html"
                    class="sidebar-link">Text-utilities</a></li>
        </ul>
    </nav>
    
    <main class="main-container">
        <section class="section">
            <h2 class="heading-2 fw-regular m-tp-one">Avatars</h2>
            <hr>
            <h4 class="heading-4 fw-regular">Round Avatars</h4>
            <div class="wrapper display-flex p-1 m-tp-one">
                <div class="avatar-round">
                    <img src="../../assets/avatar-1.png" alt="round avatar">
                </div>
                <div class="avatar-round">
                    <img src="../../assets/avatar-2.png" alt="round avatar">
                </div>
                <div class="avatar-round">
                    <img src="../../assets/avatar-3.png" alt="round avatar">
                </div>
                <div class="avatar-round">
                    <img src="../../assets/avatar-4.png" alt="round avatar">
                </div>
            </div>

            <pre>
                <code class="language-markup">
                    <div class="avatar-round">
                        <img src="..." alt="round avatar">
                    </div>
                    <div class="avatar-round">
                        <img src="..." alt="round avatar">
                    </div>
                    <div class="avatar-round">
                        <img src="..." alt="round avatar">
                    </div>
                    <div class="avatar-round">
                        <img src="..." alt="round avatar">
                    </div>
                </code>
            </pre>

            <hr>

            <h4 class="heading-4 fw-regular">Square avatars</h4>
            <div class="wrapper display-flex p-1 m-tp-one">
                <div class="avatar-square">
                    <img src="../../assets/avatar-1.png" alt="square avatar">
                </div>
                <div class="avatar-square">
                    <img src="../../assets/avatar-2.png" alt="square avatar">
                </div>
                <div class="avatar-square">
                    <img src="../../assets/avatar-3.png" alt="square avatar">
                </div>
                <div class="avatar-square">
                    <img src="../../assets/avatar-4.png" alt="square avatar">
                </div>
            </div>

            <pre>
                <code class="language-markup">
                    <div class="avatar-square">
                        <img src="..." alt="square avatar">
                    </div>
                    <div class="avatar-square">
                        <img src="..." alt="square avatar">
                    </div>
                    <div class="avatar-square">
                        <img src="..." alt="square avatar">
                    </div>
                    <div class="avatar-square">
                        <img src="..." alt="square avatar">
                    </div>
                </code>
            </pre>
            <hr>

            <h4 class="heading-4 fw-regular">Avatars with different sizes</h4>
            <div class="wrapper display-flex p-1 m-tp-one">
                <div class="avatar-round">
                    <img src="../../assets/avatar-1.png" alt="round avatar">
                </div>
                <div class="avatar-round avatar-md">
                    <img src="../../assets/avatar-2.png" alt="round avatar">
                </div>
                <div class="avatar-round avatar-sm">
                    <img src="../../assets/avatar-3.png" alt="round avatar">
                </div>
                <div class="avatar-round avatar-xs">
                    <img src="../../assets/avatar-4.png" alt="round avatar">
                </div>
            </div>

            <pre>
                <code class="language-markup">
                    <div class="avatar-round">
                        <img src="..." alt="round avatar">
                    </div>
                    <div class="avatar-round avatar-md">
                        <img src="..." alt="round avatar">
                    </div>
                    <div class="avatar-round avatar-sm">
                        <img src="..." alt="round avatar">
                    </div>
                    <div class="avatar-round avatar-xs">
                        <img src="..." alt="round avatar">
                    </div>
                </code>
            </pre>
            <hr>
        </section>
    </main>

    <footer class="footer-container display-flex">
        <i class="fa-solid fa-angle-left footer-icon"></i>
        <a href="../alerts/alert.html" class="footer-link m-rght-auto">
            Alert</a>
        <a href="../badge/badge.html" class="footer-link">
            Badge
        </a>
        <i class="fa-solid fa-angle-right footer-icon"></i>
    </footer>
</body>

</html>