<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navigation.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../prism/prism.css">
    <script src="../../prism/prism.js" defer></script>
    <title>Navigation</title>
</head>
<body>
    <header class="header">
        <nav class="nav-container display-flex">
            <a href="../../index.html" class="nav-link">Logo</a>
            <a href="https://github.com/saifudinbadani" target="_blank" class="nav-link">Github link</a>
        </nav>
    </header>
    <nav>
        <ul class="sidebar-container">
            <div class="heading-3">Guide</div>
            <div class="sidebar-heading heading-3">Components</div>
            <li class="sidebar-item"><a href="../alerts/alert.html" class="sidebar-link">Alert</a></li>
            <li class="sidebar-item"><a href="../avatar/avatar.html" class="sidebar-link">Avatar</a></li>
            <li class="sidebar-item"><a href="../badge/badge.html" class="sidebar-link">Badge</a></li>
            <li class="sidebar-item"><a href="../button/button.html" class="sidebar-link">Button</a></li>
            <li class="sidebar-item"><a href="../card/card.html" class="sidebar-link">Card</a></li>
            <li class="sidebar-item"><a href="../image/image.html" class="sidebar-link">Image</a></li>
            <li class="sidebar-item"><a href="../input/input.html" class="sidebar-link">Input</a></li>
            <li class="sidebar-item"><a href="../lists/lists.html" class="sidebar-link">Lists</a></li>
            <li class="sidebar-item"><a href="../navigation/navigation.html" class="sidebar-link">Navigation</a></li>
        </ul>
    </nav>

    <main class="main-container">
        <h2 class="heading-2 fw-regular m-tp-one">Navigation</h2>
        <hr>
        <section class="section">
        <div class="wrapper p-1 m-tp-one pos-rltv min-hght-20">
            <nav class="nav-container-demo display-flex">
                <a href="#" class="nav-link">
                    <i class="fa-brands fa-react heading-1 clr-blue-500"></i>
                    <span class="heading-4 clr-blue-500">We-Fast <small>UI</small></span>
                </a>

                <a href="https://github.com/saifudinbadani" target="_blank" class="nav-link">
                    <i class="fab fa-github heading-1 clr-blue-500"></i>
                </a>
            </nav>
            
        </div>
    </section>

    <pre>
            <code class="language-markup">
                <nav class="nav-container display-flex">
                    <a href="..." class="nav-link">
                        <span>We-Fast <small>UI</small></span>
                    </a>
                    <a href="https://github.com/saifudinbadani" target="_blank" class="nav-link">Github logo</a>
                </nav>
            </code>
        </pre>
    <hr>

    <footer class="footer-container display-flex">
        <i class="fa-solid fa-angle-left footer-icon"></i>
        <a href="../lists/lists.html" class="footer-link m-rght-auto">
            Lists</a>
        <a href="../navigation/navigation.html" class="footer-link">
            Text Utilities
        </a>
        <i class="fa-solid fa-angle-right footer-icon"></i>
    </footer>
</main>
</body>
</html>