<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lists.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../prism/prism.css">
    <script src="../../prism/prism.js" defer></script>
    <title>Lists</title>
</head>

<body>
    <header class="header">
        <nav class="nav-container display-flex">
            <a href="../../index.html" class="nav-link">
                <span class="heading-3 clr-blue-500 fw-lght">We-Fast <small>UI</small></span>
            </a>
            <a href="https://github.com/saifudinbadani" target="_blank" class="nav-link">
                <i class="fab fa-github heading-1 clr-blue-500"></i>
            </a>
        </nav>
    </header>
    <nav>
        <ul class="sidebar-container">
            <div class="heading-3">Guide</div>
            <li class="sidebar-item"><a href="../../documentation/documentation.html" class="sidebar-link">How to use?</a></li>
            <div class="sidebar-heading heading-3">Components</div>
            <li class="sidebar-item"><a href="../../components/alerts/alert.html" class="sidebar-link">Alert</a></li>
            <li class="sidebar-item"><a href="../../components/avatar/avatar.html" class="sidebar-link">Avatar</a></li>
            <li class="sidebar-item"><a href="../../components/badge/badge.html" class="sidebar-link">Badge</a></li>
            <li class="sidebar-item"><a href="../../components/button/button.html" class="sidebar-link">Button</a></li>
            <li class="sidebar-item"><a href="../../components/card/card.html" class="sidebar-link">Card</a></li>
            <li class="sidebar-item"><a href="../../components/image/image.html" class="sidebar-link">Image</a></li>
            <li class="sidebar-item"><a href="../../components/input/input.html" class="sidebar-link">Input</a></li>
            <li class="sidebar-item"><a href="../../components/lists/lists.html" class="sidebar-link">Lists</a></li>
            <li class="sidebar-item"><a href="../../components/navigation/navigation.html"
                class="sidebar-link">Navigation</a></li>
            <li class="sidebar-item"><a href="../../components/text-utilities/text-utilities.html"
                    class="sidebar-link">Text-utilities</a></li>
        </ul>
    </nav>
    
    <main class="main-container">
            <h2 class="heading-2 fw-regular m-tp-one">Lists</h2>
            <hr>
            <section class="section">
            <h4 class="heading-4 fw-regular">Spaced-list</h4>
            <p class="heading-4 m-tp-one fw-lght">To create spaced-lists, copy paste the code provided and change text to whatever you need.</p>
            <div class="wrapper p-1 m-tp-one">
                <ul class="spaced-list p-1 m-lft-40pcnt">
                    <div class="list-heading heading-4 fw-regular">Heading</div>
                    <li class="list-item">Item 1</li>
                    <li class="list-item">Item 2</li>
                    <li class="list-item">Item 3</li>
                    <li class="list-item">Item 4</li>
                </ul>
            </div>
        </section>

        <pre>
            <code class="language-markup">
                <ul class="spaced-list p-1">
                    <div class="list-heading heading-4 fw-regular">Heading</div>
                    <li class="list-item">Item 1</li>
                    <li class="list-item">Item 2</li>
                    <li class="list-item">Item 3</li>
                    <li class="list-item">Item 4</li>
                </ul>
            </code>
        </pre>
        <hr>

        <!-- stacked lists -->
        <section class="section">
            <h4 class="heading-4 fw-regular">Stacked-list</h4>
            <p class="heading-4 m-tp-one fw-lght">To create stacked-list, copy paste the code provided and change text to whatever you need.</p>
            <div class="wrapper p-1 m-tp-one">
                <ul class="stacked-list m-lft-40pcnt">
                    <li class="list-item display-flex-c">
                        Item 1
                        <small>sub-heading</small>
                    </li>
                    <li class="list-item">Item 2</li>
                    <li class="list-item">Item 3</li>
                    <li class="list-item">Item 4</li>
                </ul>
            </div>
        </section>

        <pre>
            <code class="language-markup">
                <ul class="stacked-list">
                    <li class="list-item display-flex-c">
                        Item 1
                        <small>sub-heading</small>
                    </li>
                    <li class="list-item">Item 2</li>
                    <li class="list-item">Item 3</li>
                    <li class="list-item">Item 4</li>
                </ul>
            </code>
        </pre>
        <hr>
    </main>

    <footer class="footer-container display-flex">
        <i class="fa-solid fa-angle-left footer-icon"></i>
        <a href="../input/input.html" class="footer-link m-rght-auto">
            Input</a>
        <a href="../navigation/navigation.html" class="footer-link">
            Navigation
        </a>
        <i class="fa-solid fa-angle-right footer-icon"></i>
    </footer>
</body>

</html>