<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="badge.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css";>
    <title>Badge</title>
</head>

<body>
    <section class="section">
        <h2 class="heading-2">Badge</h2>
        <h4 class="heading-4">Icon with badges</h4>
        <div class="wrapper display-flex">
            <div class="badge-container pos-rltv">
                <i class="fas fa-shopping-cart badge-icon"></i>
                <span class="badge-notification badge-cart">3</span>
            </div>

            <div class="badge-container pos-rltv">
                <i class="fas fa-bell badge-icon"></i>
                <span class="badge-notification badge-bell">0</span>
            </div>
        </div>

    
        <hr>
    </section>
</body>

</html>