<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="badge.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../prism/prism.css">
    <script src="../../prism/prism.js" defer></script>
    <title>Badge</title>
</head>

<body>
    <header class="header">
        <nav class="nav-container display-flex">
            <a href="#" class="nav-link">Logo</a>
            <a href="#" class="nav-link">Github link</a>
        </nav>
    </header>
    <nav>
        <ul class="sidebar-container">
            <div class="heading-3">Guide</div>
            <div class="sidebar-heading heading-3">Components</div>
            <li class="sidebar-item"><a href="../../components/alerts/alert.html" class="sidebar-link">Alert</a></li>
            <li class="sidebar-item"><a href="../../components/avatar/avatar.html" class="sidebar-link">Avatar</a></li>
            <li class="sidebar-item"><a href="../../components/badge/badge.html" class="sidebar-link">Badge</a></li>
            <li class="sidebar-item"><a href="../../components/button/button.html" class="sidebar-link">Button</a></li>
            <li class="sidebar-item"><a href="../../components/card/card.html" class="sidebar-link">Card</a></li>
            <li class="sidebar-item"><a href="../../components/image/image.html" class="sidebar-link">Image</a></li>
            <li class="sidebar-item"><a href="../../components/input/input.html" class="sidebar-link">Input</a></li>
            <li class="sidebar-item"><a href="../../components/lists/lists.html" class="sidebar-link">Lists</a></li>
            <li class="sidebar-item"><a href="../../components/text-utilities/text-utilities.html"
                    class="sidebar-link">Text-utilities</a></li>
        </ul>
    </nav>
    <main class="main-container">
        <section class="section">
            <h2 class="heading-2 fw-regular m-tp-one">Badge</h2>
            <h4 class="heading-4 fw-regular">Badges</h4>
            <div class="wrapper display-flex p-1 m-tp-one">
                <div class="badge-container">
                    <span class="badge-primary">primary</span>
                </div>
                <div class="badge-container">
                    <span class="badge-warning">warning</span>
                </div>
            </div>

            <pre>
                <code class="language-markup">
                    <div class="badge-container">
                        <span class="badge-primary">primary</span>
                    </div>
                    <div class="badge-container">
                        <span class="badge-warning">warning</span>
                    </div>
                </code>
            </pre>
            <hr>
            <!-- icon with badges -->
            <h4 class="heading-4 fw-regular">Icon with badges</h4>
            <div class="wrapper display-flex p-1 m-tp-one">
                <div class="icn-badge-container pos-rltv">
                    <i class="fas fa-shopping-cart badge-icon"></i>
                    <span class="badge-notification badge-cart">3</span>
                </div>

                <div class="icn-badge-container pos-rltv">
                    <i class="fas fa-bell badge-icon"></i>
                    <span class="badge-notification badge-bell">0</span>
                </div>
            </div>

            <pre>
                <code class="language-markup">
                    <div class="icn-badge-container pos-rltv">
                        <i class="fas fa-shopping-cart badge-icon"></i>
                        <span class="badge-notification badge-cart">3</span>
                    </div>
    
                    <div class="icn-badge-container pos-rltv">
                        <i class="fas fa-bell badge-icon"></i>
                        <span class="badge-notification badge-bell">0</span>
                    </div>
                </code>
            </pre>
            <hr>
            <!-- avatar with badges -->
            <h4 class="heading-4 fw-regular">Avatar with badges</h4>
            <div class="wrapper display-flex p-1 m-tp-one">
                <div class="avatar-round pos-rltv">
                    <div class="avatar-online"></div>
                    <img src="../../assets/avatar-1.png" alt="round avatar">
                </div>
                <div class="avatar-round pos-rltv">
                    <div class="avatar-dnd"></div>
                    <img src="../../assets/avatar-2.png" alt="round avatar">
                </div>
                <div class="avatar-round pos-rltv">
                    <div class="avatar-offline"></div>
                    <img src="../../assets/avatar-3.png" alt="round avatar">
                </div>
            </div>

            <pre>
                <code class="language-markup">
                    <div class="avatar-round pos-rltv">
                        <div class="avatar-online"></div>
                        <img src="..." alt="round avatar">
                    </div>
                    <div class="avatar-round pos-rltv">
                        <div class="avatar-dnd"></div>
                        <img src="..." alt="round avatar">
                    </div>
                    <div class="avatar-round pos-rltv">
                        <div class="avatar-offline"></div>
                        <img src="..." alt="round avatar">
                    </div>
                </code>
            </pre>
            <hr>
        </section>
    </main>

    <footer class="footer-container display-flex">
        <i class="fa-solid fa-angle-left footer-icon"></i>
        <a href="../avatar/avatar.html" class="footer-link m-rght-auto">
            Avatar</a>
        <a href="../button/button.html" class="footer-link">
            Button
        </a>
        <i class="fa-solid fa-angle-right footer-icon"></i>
    </footer>
</body>

</html>