<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="alert.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Alert</title>
</head>
<body>
    <section class="section">
        <h2 class="heading-2">Alerts</h2>
        <h4 class="heading-4">Normal Buttons</h4>
        <div class="wrapper">
            <div class="alert alert-primary">This is a primary alert.</div>
            <div class="alert alert-success">This is a success alert.</div>
            <div class="alert alert-warning">This is a warning alert.</div>
            <div class="alert alert-danger">This is a danger alert.</div>
            <div class="alert alert-secondary">This is a secondary alert.</div>
        </div>
        <hr>
        
    </section>
</body>
</html>