<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="alert.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../prism/prism.css">
    <script src="../../prism/prism.js" defer></script>
    <title>Alert</title>
</head>

<body>
    <header class="header">
        <nav class="nav-container display-flex">
            <a href="../../index.html" class="nav-link">Logo</a>
            <a href="https://github.com/saifudinbadani" target="_blank" class="nav-link">Github link</a>
        </nav>
    </header>
    <nav>
        <ul class="sidebar-container">
            <div class="heading-3">Guide</div>
            <div class="sidebar-heading heading-3">Components</div>
            <li class="sidebar-item"><a href="../alerts/alert.html" class="sidebar-link">Alert</a></li>
            <li class="sidebar-item"><a href="../avatar/avatar.html" class="sidebar-link">Avatar</a></li>
            <li class="sidebar-item"><a href="../badge/badge.html" class="sidebar-link">Badge</a></li>
            <li class="sidebar-item"><a href="../button/button.html" class="sidebar-link">Button</a></li>
            <li class="sidebar-item"><a href="../card/card.html" class="sidebar-link">Card</a></li>
            <li class="sidebar-item"><a href="../image/image.html" class="sidebar-link">Image</a></li>
            <li class="sidebar-item"><a href="../input/input.html" class="sidebar-link">Input</a></li>
        </ul>
    </nav>
    
    <main class="main-container">
        <section class="section">
            <h2 class="heading-2 fw-regular m-tp-one">Alerts</h2>
            <hr>
            <div class="wrapper p-1 m-tp-one">
                <div class="alert alert-primary">This is a primary alert.</div>
                <div class="alert alert-success">This is a success alert.</div>
                <div class="alert alert-warning">This is a warning alert.</div>
                <div class="alert alert-danger">This is a danger alert.</div>
                <div class="alert alert-secondary">This is a secondary alert.</div>
            </div>
        </section>

        <pre>
            <code class="language-markup">
                <div class="alert alert-primary">This is a primary alert.</div>
                <div class="alert alert-success">This is a success alert.</div>
                <div class="alert alert-warning">This is a warning alert.</div>
                <div class="alert alert-danger">This is a danger alert.</div>
                <div class="alert alert-secondary">This is a secondary alert.</div>
            </code>
        </pre>
    </main>

    <footer class="footer-container display-flex">
        <a href="../avatar/avatar.html" class="footer-link">
            Avatar
        </a>
        <i class="fa-solid fa-angle-right footer-icon"></i>
    </footer>
</body>

</html>