<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="text-utilities.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../prism/prism.css">
    <script src="../../prism/prism.js" defer></script>
    <title>Text-utilities</title>
</head>

<body>
    <header class="header">
        <nav class="nav-container display-flex">
            <a href="../../index.html" class="nav-link">Logo</a>
            <a href="https://github.com/saifudinbadani" target="_blank" class="nav-link">Github link</a>
        </nav>
    </header>
    <nav>
        <ul class="sidebar-container">
            <div class="heading-3">Guide</div>
            <li class="sidebar-item"><a href="../documentation/documentation.html" class="sidebar-link">How to use?</a></li>
            <div class="sidebar-heading heading-3">Components</div>
            <li class="sidebar-item"><a href="../../components/alerts/alert.html" class="sidebar-link">Alert</a></li>
            <li class="sidebar-item"><a href="../../components/avatar/avatar.html" class="sidebar-link">Avatar</a></li>
            <li class="sidebar-item"><a href="../../components/badge/badge.html" class="sidebar-link">Badge</a></li>
            <li class="sidebar-item"><a href="../../components/button/button.html" class="sidebar-link">Button</a></li>
            <li class="sidebar-item"><a href="../../components/card/card.html" class="sidebar-link">Card</a></li>
            <li class="sidebar-item"><a href="../../components/image/image.html" class="sidebar-link">Image</a></li>
            <li class="sidebar-item"><a href="../../components/input/input.html" class="sidebar-link">Input</a></li>
            <li class="sidebar-item"><a href="../../components/lists/lists.html" class="sidebar-link">Lists</a></li>
            <li class="sidebar-item"><a href="../../components/navigation/navigation.html"
                class="sidebar-link">Navigation</a></li>
            <li class="sidebar-item"><a href="../../components/text-utilities/text-utilities.html"
                    class="sidebar-link">Text-utilities</a></li>
        </ul>
    </nav>

    <main class="main-container">
        <h2 class="heading-2 fw-regular m-tp-one">Text-utilties</h2>
        <hr>
        <section class="section">
            <h4 class="heading-4 fw-regular">Heading</h4>
            <p class="heading-4 m-tp-one fw-lght">You can use different classes in your headings tag to make font-size smaller or bigger.</p>
            <div class="wrapper p-1 m-tp-one">
                <h1 class="heading-1">Heading 1</h1>
                <h2 class="heading-2">Heading 2</h2>
                <h3 class="heading-3">Heading 3</h3>
                <h4 class="heading-4">Heading-4</h4>
                <h5 class="heading-5">Heading-5</h5>
            </div>
        </section>

        <pre>
            <code class="language-markup">
                <h1 class="heading-1">Heading 1</h1>
                <h2 class="heading-2">Heading 2</h2>
                <h3 class="heading-3">Heading 3</h3>
                <h4 class="heading-4">Heading-4</h4>
                <h5 class="heading-5">Heading-5</h5>
            </code>
        </pre>
        <hr>

        <section class="section">
            <h4 class="heading-4 fw-regular">Font-weight</h4>
            <p class="heading-4 m-tp-one fw-lght">Add these classes to your element's class to modify the font weight.</p>
            <div class="wrapper p-1 m-tp-one">
                <p class="heading-3 fw-lght">Lorem, ipsum dolor.</p>
                <p class="heading-3 fw-regular">Lorem, ipsum dolor.</p>
                <p class="heading-3 fw-bold">Lorem, ipsum dolor.</p>
            </div>
        </section>

        <pre>
            <code class="language-markup">
                <p class="heading-3 fw-lght">Lorem, ipsum dolor.</p>
                <p class="heading-3 fw-regular">Lorem, ipsum dolor.</p>
                <p class="heading-3 fw-bold">Lorem, ipsum dolor.</p>
            </code>
        </pre>
        <hr>

    </main>

    <footer class="footer-container display-flex">
        <i class="fa-solid fa-angle-left footer-icon"></i>
        <a href="../lists/lists.html" class="footer-link m-rght-auto">
            Lists</a>
    </footer>
</body>

</html>