@import "../shared.css";

.sidebar-container{
    font-weight: var(--fw-light);
    position: fixed;
    top: 0;
    bottom: 0;
    margin-left: 5rem;
    margin-top: 7rem;
    overflow-y: auto;
}

.sidebar-item{
    cursor: pointer;
    margin-bottom: 0.5rem;
    font-size: 3rem;
    padding: 0.3rem 0.2rem;
    border-radius: 7px;
}
.sidebar-item:hover{
    background-color: var(--primary-lght);
}

.sidebar-link{
    color: var(--text);
    padding: 0 0.3rem;
}

/* main content */

.main-container{
    margin-left: 25rem;
    margin-top: 7rem;
    width: 70%;
}

.wrapper{
    background-color: var(--secondary);
    border-radius: 7px;
}

/* embed js */
.embed-snippet{
    width: 100%;
    height: 32rem;
}

/* footer */
.footer-container{
    font-size: 3.5rem;
    margin-left: 25rem;
    margin-top: 7rem;
    width: 70%;
    justify-content: flex-end;
}

.footer-link{
    text-decoration: none;
    color: var(--heading);
}